<app-task-dashboard-navbar (editClick)="onEditClick()" (statusChange)="changeStatus($event)"
                           [header]="taskName"></app-task-dashboard-navbar>

<div class="wrapper p-3">
  <app-task-dashboard-edit [isFormDisabled$]="isFormDisabled$" [task$]="task$"
                           (submitTask)="submitTask($event)"></app-task-dashboard-edit>
  <app-task-dashboard-comments [comments]="comments" (submitComment)="submitComment($event)"></app-task-dashboard-comments>
</div>
