<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Project code</th>
    <th>Task</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Due date</th>
    <th>Estimation in hour(s)</th>
    <th>Assignee</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks" (click)="taskRowClick.emit(task.id)">
    <td>{{task.project.code}}</td>
    <td class="nowrap">{{task.project.code}}-{{task.code}}</td>
    <td>{{task.priority.name}}</td>
    <td>{{task.status.name}}</td>
    <td>{{task.created | date}}</td>
    <td>{{task.updated ? task.updated : '' | date}}</td>
    <td>{{task.dueDate | date}}</td>
    <td>{{task.estimation}}</td>
    <td>{{task.assignee.surname + ' ' + task.assignee.name}}</td>
    <td>{{task.description}}</td>
  </tr>
  </tbody>
</table>
