<table class="table table-hover">
  <thead>
  <tr>
    <th>Project code</th>
    <th>Task</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Due date</th>
    <th>Estimation</th>
    <th>Assignee</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="taskRowClick.emit(1)">
    <td>CODE</td>
    <td>TASK</td>
    <td>PRIORITY</td>
    <td>STATUS</td>
    <td>CREATED</td>
    <td>UPDATED</td>
    <td>16.03.2019</td>
    <td>18.03.2019</td>
    <td>ASSIGNEE</td>
    <td>DESCRIPTION</td>
    <td>ACTION</td>
  </tr>
  </tbody>
</table>
