<div class="modal-header">
  <h4 class="modal-title">Create new task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    &times;
  </button>
</div>
<form [formGroup]="newTaskForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label>Project code</label>
        <input type="text" class="form-control" formControlName="projectCode">

        <label>Description</label>
        <input type="text" class="form-control" formControlName="description">

        <label>Priority</label>
        <input type="text" class="form-control" formControlName="priority">

        <label>Due Date</label>
        <input type="text" class="form-control" formControlName="dueDate">

        <label>Estimation</label>
        <input type="text" class="form-control" formControlName="estimation">

        <label>Assignee</label>
        <input type="text" class="form-control" formControlName="assignee">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!newTaskForm.valid">Create</button>
  </div>
</form>
