<div class="modal-header">
  <h4 class="modal-title">Create new task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    &times;
  </button>
</div>
<form [formGroup]="newTaskForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">

      <div class="form-group">
        <label>Project code</label>
        <input type="text" class="form-control" [ngbTypeahead]="projectCodeSearch" formControlName="code"
               (focus)="codeFocus$.next($event.target.value)" (click)="codeClick$.next($event.target.value)"
               #codeTypeahead="ngbTypeahead">
        <div class="alert alert-danger mt-2" *ngIf="hasError('code', 'required')">
          Project code is required
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasError('code', 'valueContains')">
          Wrong project code value
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description">
        <div class="alert alert-danger mt-2" *ngIf="hasError('description', 'required')">
          Task description is required
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasError('description', 'minlength')">
          Task description length must be {{validationConfigs.taskDescription.minlength}} symbols length or more
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasError('description', 'maxlength')">
          Taks description length must be {{validationConfigs.taskDescription.maxlength}} symbols length or less
        </div>
      </div>

      <div class="form-group">
        <label>Priority</label>
        <select class="form-control" formControlName="priority">
          <option *ngFor="let priority of taskPriorities">{{priority}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Assignee</label>
        <input type="text" class="form-control" [ngbTypeahead]="assigneeSearch" formControlName="assignee"
               (focus)="assigneeFocus$.next($event.target.value)" (click)="assigneeClick$.next($event.target.value)"
               #assigneeTypeahead="ngbTypeahead">
        <div class="alert alert-danger mt-2" *ngIf="hasError('assignee', 'valueContains')">
          Wrong assignee value
        </div>
      </div>

      <div class="form-group">
        <label>Due Date</label>
        <input type="date" class="form-control" formControlName="dueDate">
        <div class="alert alert-danger mt-2" *ngIf="hasError('dueDate', 'required')">
          Due date is required
        </div>
      </div>

      <div class="form-group">
        <label>Estimation (in hours)</label>
        <input type="number" class="form-control" formControlName="estimation">
        <div class="alert alert-danger mt-2" *ngIf="hasError('estimation', 'required')">
          Estimation is required
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasError('estimation', 'min')">
          Estimation must be {{validationConfigs.estimation.min}} hour(s) or more
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!newTaskForm.valid">Create</button>
  </div>
</form>
