<nav class="navbar-gray">
  <div class="wrapper p-3">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="buttons-container">
        <button class="btn btn-outline-primary" (click)="openNewProjectModal()">New Project</button>
        <button class="btn btn-outline-primary" (click)="openNewTaskModal()">New Task</button>
        <button class="btn btn-outline-primary" (click)="openNewUserModal()">New User</button>
      </div>
      <form class="form-group m-0">
        <div class="input-group">
          <input type="text" class="form-control position-relative" placeholder="Enter filter">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-right-append position-relative" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>


<div class="wrapper p-3">
  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Project code</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Due date</th>
        <th>Estimation</th>
        <th>Assignee</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr routerLink="/tasks/1">
        <td>CODE</td>
        <td>TASK</td>
        <td>PRIORITY</td>
        <td>STATUS</td>
        <td>CREATED</td>
        <td>UPDATED</td>
        <td>16.03.2019</td>
        <td>18.03.2019</td>
        <td>ASSIGNEE</td>
        <td>DESCRIPTION</td>
        <td>ACTION</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
