<app-home-navbar (createProjectClick)="openNewProjectModal()" (createTaskClick)="openNewTaskModal()"
                 (createUserClick)="openNewUserModal()" (logoutClick)="logout()"
                 [isNewProjectAvailable]="isNewProjectAvailable()"
                 [isNewUserAvailable]="isNewUserAvailable()"
                 [isNewTaskAvailable]="isNewTaskAvailable()"></app-home-navbar>

<div class="wrapper p-2 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 pl-2">
        <app-projects [projects]="projects" (projectChangeEmitter)="projectChange($event)"
                      [selectedProjectId]="currentProjectId"></app-projects>
      </div>
      <div class="col-10 p-0">
        <app-tasks-table (taskRowClick)="onTaskRowClick($event)" [tasks]="tasks" [pageNumber]="pageNumber"
                         [pageSize]="pageSize" [recordsAmount]="recordsAmount" (pageChange)="onPageChange($event)">
        </app-tasks-table>
      </div>
    </div>
  </div>
</div>



