<app-home-navbar (createProjectClick)="openNewProjectModal()" (createTaskClick)="openNewTaskModal()"
                 (createUserClick)="openNewUserModal()" (logoutClick)="logout()"
                 [isNewProjectAvailable]="isNewProjectAvailable()"
                 [isNewUserAvailable]="isNewUserAvailable()"
                 [isNewTaskAvailable]="isNewTaskAvailable()" (searchClick)="searchTask($event)">
</app-home-navbar>
<ngb-alert class="m-2" [type]="alert.type" *ngIf="alert.message" (close)="alert.message = ''">{{alert.message}}</ngb-alert>
<div class="wrapper p-2 mt-3" *ngIf="authService.getUserRole() !== UserRole.ADMIN">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <app-change-task-type [initialState$]="initialTaskTypes$"
                            (stateChange)="taskTypesChange($event)"></app-change-task-type>
      <app-task-sort [initialState$]="initialTaskSort$" (stateChange)="taskSortChange($event)"></app-task-sort>
    </div>
    <div class="row">
      <div class="col-2 pl-2">
        <app-projects [projects]="projects" (projectChangeEmitter)="projectChange($event)"
                      [selectedProjectId]="currentProjectId"></app-projects>
      </div>
      <div class="col-10 p-0">
        <app-tasks-table (taskRowClick)="onTaskRowClick($event)" [page$]="page$" [pageNumber]="pageNumber"
                         [pageSize]="pageSize" [recordsAmount]="recordsAmount" (pageChange)="onPageChange($event)">
        </app-tasks-table>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner [loadingText]="'Loading...'" [timeout]="20000"></ng4-loading-spinner>



