.login-container {
  max-width: 400px;
  width: 100%;
  z-index: 100;
}

input[type="checkbox"] {
  position: relative;
  top: 1px;
}

.login-wrapper {
  background: no-repeat center url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/7wfbAwq/modern-office-buildings-financial-district-new-york-t-lapse_eyh4oqw1e__F0000.png);
}

.login-wrapper:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.4);
}
