@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
}

.buttons-container > * + * {
  margin-left: 0.5em;
}

button:focus, button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.close:focus {
  outline: none;
}

.position-relative {
  position: relative;
}

.modal-open .modal {
  display: flex !important;
  align-items: center !important;
}

nav {
  background-color: #404040;
}

.vh-100 {
  height: 100vh;
}

ngb-typeahead-window.dropdown-menu {
  display: block;
  overflow-y: auto;
  max-height: 250px;
  width: calc(100% - 30px);
}

.input-group button:focus, .input-group input:focus {
  z-index: 20;
}

.cursor-pointer {
  cursor: pointer;
}

.break-word {
  word-break: break-all;
}

.mh-600px {
  max-height: 650px;
}
